/* CSS Document */
*{margin:0; padding:0;}
div{box-sizing: border-box;}
html{-webkit-text-size-adjust:100%;}
body{font-family:'Apple SD Gothic Neo',arial, sans-serif; font-size:14px;color:#000;overflow-x:hidden}
ul,ol,li	{list-style:none;}
img,hr{border:none;}
img{vertical-align:top; border:0;}
a{vertical-align:top; color:#000;}
a:link{text-decoration:none; color:inherit;}
a:visited{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr,
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,pre {font-size:inherit; color:inherit;box-sizing: border-box;}
input,select{vertical-align:top; outline:none; }
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
input[type=password]{display:inline-block; width:100%; font-size:14px; height:40px; padding:5px 10px; border:1px solid #ddd; background:#fff; box-sizing:border-box; font-family: 'Apple SD Gothic Neo', arial,sans-serif; }
select	{display:inline-block; width:100%; height:40px; padding:0 0 0 10px; border:1px solid #ddd; background:#fff; box-sizing:border-box; cursor:pointer; font-family: 'Apple SD Gothic Neo', arial,sans-serif; }
textarea	{display:inline-block; width:100%; padding:10px; border:1px solid #ddd; background:#fff; box-sizing:border-box;}
input[type=file],input[type=image],input[type=reset],input[type=button],input[type=submit] {cursor:pointer;}
button {border:0; outline:0; background:transparent; cursor:pointer;font-family: 'Apple SD Gothic Neo',arial,sans-serif}
div{position:relative;}
.poppins{font-family: 'Poppins', sans-serif;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-text-fill-color: transparent !important;
}
input[type=text]::-ms-clear,
input[type=number]::-ms-clear{
    display:none;
}
label{display: block;}
.cf::before{content:''; display:block; clear:both;}
.cf::after{content:''; display:block; clear:both;}
.fs{font-size:0;}
.clearfix{zoom:1}

.dot{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.align_r{text-align:right;}
.align_c{text-align:center;}
.align_l{text-align:left;}

.mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;} .mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;} .mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;} .mt85{margin-top:85px !important;}
.mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;}

.pt10{padding-top:10px !important;} .pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;} .pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;} .pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;} .pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;} .pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;} .pt65{padding-top:65px !important;}
.pt70{padding-top:70px !important;} .pt75{padding-top:75px !important;}
.pt80{padding-top:80px !important;} .pt85{padding-top:85px !important;}
.pt90{padding-top:90px !important;} .pt95{padding-top:95px !important;}

.pl10{padding-left:10px !important;} .pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;} .pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;} .pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;} .pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;} .pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;} .pl65{padding-left:65px !important;}
.pl70{padding-left:70px !important;} .pl75{padding-left:75px !important;}
.pl80{padding-left:80px !important;} .pl85{padding-left:85px !important;}
.pl90{padding-left:90px !important;} .pl95{padding-left:95px !important;}
