@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 300;
    src: url(../font/AppleSDGothicNeoL.woff) format('woff'),
    url(../font/AppleSDGothicNeoL.ttf) format('truetype'),
    url(../font/AppleSDGothicNeoL.otf) format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    src: url(../font/AppleSDGothicNeoR.woff) format('woff'),
    url(../font/AppleSDGothicNeoR.ttf) format('truetype'),
    url(../font/AppleSDGothicNeoR.otf) format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 600;
    src: url(../font/AppleSDGothicNeoB.woff) format('woff'),
    url(../font/AppleSDGothicNeoB.ttf) format('truetype'),
    url(../font/AppleSDGothicNeoB.otf) format('opentype');
}
