/* header */
.header .header-top{
    width: 100%;
    height: 85px;
    font-size:0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.header .header-top h1.logo{
    display: block;
    width: 127px;
    height: 25px;
    position:absolute;
    top:30px;
    left:172px;
}
.header .header-top h1.logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.header .header-top>ul{
    position:absolute;
    top:24px;
    right:260px;
}
.header .header-top>ul>li{
    display: inline-block;
    vertical-align: top;
    margin: 0 28px;
}
.header .header-top>ul>li:last-child{
    margin-right: 80px;
}
.header .header-top>ul>li .btn{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:22px;
    width: 37px;
    height: 37px;
    font-size:0;
}
.header .header-top>ul>li.button__atc{
    margin-right: 0;
}
.header .header-top>ul>li.button__atc a{
    width: auto;
    height: auto;
    font-size:18px;
    line-height:21px;
    color: #5e99ff;
    border:2px solid #5e99ff;
    font-weight: 600;
    padding:6px 30px;
    border-radius: 10px;
    transition: all .4s;
}
.header .header-top>ul>li.button__atc a:hover{
    background-color:#5e99ff;
    color: #fff;
}

.header .header-top>ul>li.button__price .btn{
    background-image: url("../images/icon/price_ico.svg");
    background-size:36px;
}
.header .header-top>ul>li.button__login .btn{
    background-image: url("../images/icon/login_ico.svg");
    background-size:24px;
}
.header .header-top>ul>li.button__logout .btn{
    background-image: url("../images/icon/logout_ico.svg");
    background-size:24px;
}
.header .header-top>ul>li.button__search a{
    background-image: url("../images/icon/noun_Search.svg");
}
.header .header-top>ul>li.button__cart a{
    background-image: url("../images/icon/noun_cart.svg");
}
.header .header-top>ul>li.button__my a{
    background-image: url("../images/icon/noun_avatar.svg");
}
.header .header-top .drop-box{
    position:relative;
    width: 260px;
    height: 85px;
    float:right;
}
.header .header-top .drop-box .drop__content{
    width: 100%;
    background-color: #222834;
}
.header .header-top .drop-box.on .drop__content{
    z-index: 10;
    position:absolute;
    top:0;
    right:0;
    display: block;
}
.header .header-top .drop-box .drop__content .drop__content-inner{
    display: none;
}
.header .header-top .drop-box.on .drop__content .drop__content-inner{
    display:block;
    position:relative;
    padding: 110px 22px 54px;
    height: 100%;
}

.header .header-top .drop-box .drop__content .drop__content-inner>ul>li{
    border-bottom:1px solid #fff;
    color: #fff;
    font-size:16px;
    overflow: hidden;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li:last-child{
    border-bottom: 0;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>p{
    display:inline-block;
    cursor: pointer;
    line-height: 16px;
    position:relative;
    padding: 20px 20px 20px 16px;
    width: auto;
    transition: all .4s ease-in-out;
    box-sizing: border-box;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>p::after{
    content:"+";
    float:right;
    font-size:32px;
    line-height: 16px;
    margin-left: 5px;
    color: #fff;
    transition: all .4s ease-in-out;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>p.not__arrow{
    cursor: inherit;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>p.not__arrow::after{
    display: none;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li.active{
    color: #cc9dff;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li.active>p{
    width: 100%;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li.active>p::after{
    content:"-";
    transition: all .4s ease-in-out;
}

.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>ul.depth{
    height: 0;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>ul.depth>li{
    padding: 2px 20px;
    color: #fff;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li>ul.depth.on{
    opacity: 1;
    height: auto;
    min-height: 46px;
    padding-bottom: 20px;
}
.header .header-top .drop-box .drop__content .drop__content-inner>ul>li.active>ul.depth{
    display: block;
}

.header .header-top .drop-box .btn-drop{
    position:absolute;
    display: block;
    top:0;
    z-index: 5;
    right:0;
    width: 260px;
    height: 85px;
    background-color: #222834;
}
.header .header-top .drop-box .btn-drop span{
    position:relative;
    display: inline-block;
    font-size:16px;
    color:#fff;
    font-weight: 600;
    line-height: 16px;
    padding-right: 22px;
}
.header .header-top .drop-box .btn-drop span::after{
    content:"";
    position:absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    right:0;
    top:50%;
    margin-top: -2px;
}
.header .header-top .drop-box.on{
    height: 100%;
}

.header .header-top .drop-box.on .btn-drop{
    z-index: 11;
    height: 54px;
    top:auto;
    bottom:0;
}
.header .header-top .drop-box.on .btn-drop span{
    font-size:0;
    padding: 0;
    width: 100%;
}
.header .header-top .drop-box.on .btn-drop span::after{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    border-top:0;
    right:50%;
    margin-right: -2px;
}

.header .header-search{
    display: none;
    height: 110px;
    background-color: #9767cc;
    font-size:0;
}
.header .header-search ul{
    position:absolute;
    display: inline-block;
    left:172px;
    top:40px;
}
.header .header-search ul li{
    display: inline-block;
    margin-right: 44px;
}
.header .header-search ul li a{
    display: block;
    line-height: 20px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size:14px;
}
.header .header-search .search-box{
    position:absolute;
    top:22px;
    right:173px;
    width: 515px;
}
.header .header-search .search-box .search-inner{
    position:relative;
    width: 100%;
    padding:20px 24px 20px 0;
    border-bottom:1px solid #fff;
}
.header .header-search .search-box input{
    height: 16px;
    line-height: 16px;
    background-color: transparent;
    padding: 0;
    color: #fff;
    border:0;
}
.header .header-search .search-box input::placeholder{
    color: #fff;
}
.header .header-search .search-box button{
    position:absolute;
    top:50%;
    margin-top: -8px;
    right:0;
    width: 16px;
    height: 16px;
    background-image: url("../images/icon/noun_Search_White.svg");
    background-repeat: no-repeat;
    background-size:16px auto;
    background-position: center;
    font-size:0;
}

.container{
    width: 100%;
    min-height: 500px;
    background-color: #fff;
}

footer{
    width: 100%;
    background-color: #323334;
    padding: 160px 0;
}

footer .footer-inner{
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 64px;
    position: relative;
    border-bottom:1px solid #fff;
    text-align: center;
}
footer .footer-inner ul{
    padding: 0 70px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
footer .footer-inner ul li h2{
    color: #fff;
    font-weight: 600;
    padding-bottom: 30px;
    font-size:14px;
}
footer .footer-inner ul li a {
    color: #fff;
    line-height: 29px;
    font-weight: 300;
    font-size:13px;
}
footer .footertext{
    text-align: center;
    padding-top: 25px;
}
footer .footertext span{
    display: inline-block;
    position:relative;
    font-size:12px;
    line-height: 12px;
    color: #ffffff;
}

footer .copyright{
    font-size:12px;
    text-align: center;
    color: #ffffff;
    padding-top: 33px;
}

/* 체크박스 */
.checkbox{
    display: inline-block;
}
.checkbox label{
    display: inline-block;
    position:relative;
    line-height: 20px;
    font-size:13px;
    cursor: pointer;
}

.checkbox input{
    display: none;
}
.checkbox .label__text i{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    box-sizing: border-box;
    margin-right: 15px;
}
.checkbox input:checked + i{
    border:1px solid #300766;
    background-color: #300766;
}

.checkbox input:checked + i::after{
    content:"";
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -6px;
    width: 11px;
    height: 5px;
    border: 1px solid #ffffff;
    border-width: 0 0 2.4px 2.4px;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

/* 모달 팝업 */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(41, 45, 62, .9);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;
}

.modal.on {
    opacity: 1;
    z-index: 999;
}

.modal_container {
    position: relative;
    height: 100%;
}

.modal .m_content {
    width: 722px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding: 64px 106px 164px;
    border-radius: 4px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.modal .m_content .tit {
    position:relative;
    text-align: left;
    padding-top: 55px;
    padding-bottom: 34px;
}
.modal .m_content .tit  h2{
    font-size:20px;
    color:#292d3e;
}

.modal .m_content .con p{
    font-size:14px;
    color:#222834;
    text-align: left;
    line-height: 17px;
}

.modal .m_content .con .btn {
    height: 35px;
    margin-top: 25px;
    font-size: 15px;
    width: 100%;
    border-radius: 17px;
}

.modal .m_content .con .btn.btn-apply {
    background-color: #300766;
    color: #fff;
}

/* 버튼 */
.btn{
    width: 100%;
    height:56px;
    color: #fff;
    font-size:13px;
}
.btn.login-btn{
    background-color: #300766;
    border-radius: 28px;
    margin-top: 58px;
}
.btn.pwd-btn{
    background-color: #651099;
    border-radius: 10px;
    margin-top: 40px;
}

.btn.apply-btn{
    background-color: #300766;
    border-radius: 10px;
    margin: 40px auto;
    width: 296px;
    display: block;
}

.btn__close{
    position: absolute;
    cursor: pointer;
    top:0;
    right:0;
    width: 30px;
    height: 30px;
    font-size:0;
}
.btn__close:before, .btn__close:after {
    content: ' ';
    display: block;
    position: absolute;
    top:6px;
    left: 14px;
    height: 18px;
    width: 2px;
    background-color: #333;
}
.btn__close:before {
    transform: rotate(45deg);
}
.btn__close:after {
    transform: rotate(-45deg);
}

.menu-trigger{
    display: none;
}
@media (max-width: 1600px){
    footer .footer-inner{
        width: 90%;
    }
}
@media (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .header .header-top{
        height: 90px;
    }
    .header .header-top h1.logo{
        left: 20px;
    }
    .header .header-top>ul{
        display: none;
    }
    .header .header-top .drop-box .btn-drop{
        display: none;
    }
    .header .header-top .drop-box{
        width: 50px;
        height: 90px;
    }
    .header .header-top .drop-box .drop__content{
        background-color: transparent;
    }
    .header .header-top .drop-box .drop__content .drop__content-inner{
        top:90px;
        left:auto;
        right:-150%;
        width: 100%;
        display: block;
        background-color: #222834;
        padding: 68px 22px 0;
        height: calc(100% - 90px);
        transition: all .6s;
        overflow-y: auto;
        position:fixed;
        z-index: 999;
    }
    .header .header-top .drop-box.on .drop__content .drop__content-inner{
        position:fixed;
        z-index: 999;
        height: calc(100% - 90px);
        right:0;
        padding: 68px 22px 0;
        transition: all .4s;
    }
    .menu-trigger{
        display: block;
    }
    .menu-trigger,
    .menu-trigger span {
        display : inline-block;
        transition : all .4s;
        box-sizing : border-box;
    }
    .menu-trigger {
        position : relative;
        width : 40px;
        height :20px;
        margin-top:33px;
        right:10px;
    }
    .menu-trigger span {
        position : absolute;
        left : 0;
        width : 100%;
        height : 3px;
        background-color : #000;
        border-radius : 4px;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 8px;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .menu-trigger.active span:nth-of-type(1) {
        -webkit-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
    }

    .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-trigger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-8px) rotate(45deg);
        transform: translateY(-8px) rotate(45deg);
    }

    .modal .m_content{
        width: 80%;
        padding: 25px 20px 64px;
    }
    footer{
        padding: 30px 0 50px;
        font-size:0;
    }
    footer .footer-inner{
        padding-bottom: 24px;
    }
    footer .footer-inner ul{
        padding: 0 10px;
    }
    footer .footer-inner ul li h2{
        padding-bottom: 15px;
    }
    footer .footer-inner ul li a{
        font-size:11px;
        line-height:22px;
        letter-spacing: -0.025em;
    }
    footer .footertext{
        padding: 25px 5px 0;
    }
    footer .footertext br{
        display: none;
    }
    footer .footertext span{
        font-size:11px;
        line-height: 18px;
    }

    .btn.apply-btn{
        width: 60%;
    }
}