.content.member{
    padding: 133px 0 174px;
}
.content .content__sm{
    width: 448px;
    margin: 0 auto;
}
.content .content__md{
    width: 762px;
    margin: 0 auto;
}
.content.member .title-box{
    text-align: center;
    padding-bottom: 80px;
}
.content.member .title-box h2{
    font-size:22px;
}

.content.member .title-box h3{
    padding-top: 25px;
    font-size:13px;
    color: #7d7d7d;
}
.content.member .input-or{
    display: block;
    text-align: center;
    font-size:13px;
    color:#bebebe;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    margin: 19px 0;
    position:relative;
}
.content.member .input-or::before,
.content.member .input-or::after{
    content:"";
    display: block;
    position:absolute;
    top:50%;
    left:0;
    width: 33%;
    height: 1px;
    background-color: #d8d8d8;
}
.content.member .input-or::after{
    left:auto;
    right:0;
}
.content.member .checkbox{
    padding-left: 56px;
}
.content .input-box{
    position:relative;
    height: 56px;
    border-radius: 40px;
    border:1px solid #d8d8d8;
}
.content .input-box input{
    border:0;
    line-height: 54px;
    position:absolute;
    top:0;
    height:100%;
    background-color: transparent;
    left:50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    font-size:13px;
}
.content .input-box input.input_password{
    padding-right: 36px;
}
.content .input-box .hide_btn{
    position:absolute;
    top:0;
    right:10px;
    display: block;
    width: 56px;
    height: 56px;
    background-image: url("../images/icon/hide_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:22px auto;
    cursor: pointer;
}
.content .input-box.select-phone select{
    position:absolute;
    max-width: 86px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    top:50%;
    margin-top: -15px;
    left:20px;
}
.content .input-box.select-phone input{
    left:auto;
    right:0;
    transform:none;
    width: 76%;
}
.checkbox-wrap a{
    display: inline-block;
    font-size:13px;
    color:#808080;
    vertical-align: top;
    line-height: 22px;
    float:right;
}

/* 회원가입 */
.content.member .register-box{
    padding: 85px 0 79px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border:1px solid #e4e4e4;
    text-align: left;
    font-size:0;
    margin-top: 90px;
}
.content.member .register-box .register-box__inner{
    padding-left: 106px;
}
.content.member .register-box:first-child{
    margin-top: 0;
}
.content.member .register-box .register-box__inner>h2{
    font-size:21px;
    font-weight: 600;
}
.content.member .register-box .register-box__inner>p{
    font-size:13px;
    line-height: 13px;
    padding: 10px 0 50px;
}
.content.member ul.register-box__select{
    margin-top: 50px;
}
.content.member ul.register-box__select li{
    display: inline-block;
    margin-right: 40px;
}
.content.member ul.register-box__select li input{
    display: none;
}

.content.member ul.register-box__select li span{
    display: block;
    font-size:13px;
    border:1px solid #222834;
    cursor: pointer;
    transition: all .2s ease-in-out;
    line-height: normal;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 14px 0;
}
.content.member ul.register-box__select li input:checked + span{
    background-color: #9767cc;
    border:1px solid #9767cc;
    color:#fff;
}

.content.member .register-box .checkbox{
    padding-left: 0;
    display: block;
    margin-bottom: 30px;
}
.content.member .register-box .checkbox>p{
    font-size:13px;
    color:#808080;
    padding: 5px 106px 5px 35px;
}
.content.member .register-box .checkbox>p span{
    display: inline-block;
    float:right;
    cursor: pointer;
    text-decoration: underline;
    color:#808080;
    font-weight: 600;
}
