/* 마이프로필 */
.profile-box{
    margin-top: 65px;
    padding: 88px 106px 66px;
    font-size:0;
}
.profile-box .info-box{
    padding: 18px 0 0;
}
.profile-box .info-box .info-box__form ul{
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    max-width: 349px;
    margin-right: 75px;
}
.profile-box .info-box .info-box__form ul li{
    margin-bottom: 20px;
}
.profile-box .info-box .info-box__form ul:nth-child(3n){
    margin-right: 0;
}
.profile-box .info-box .info-box__form ul li>span{
    display: inline-block;
    width: 106px;
    font-size:13px;
    line-height: 56px;
    font-weight: 600;
    color: #323334;
}

.profile-box .info-box .info-box__form ul li .input-box{
    display: inline-block;
    vertical-align:top;
    max-width: 263px;
    width: calc(100% - 106px);
}
.profile-box .info-box .info-box__form ul li .input-box input{
    color:#323334;
    font-weight: 600;
}
.profile-box .info-box .btn-area{
    margin-top: 25px;
}
.profile-box>.btn-area{
    margin-top: 38px;
}
.grid-wrap{
    padding-bottom: 294px;
}
.grid-wrap .grid-wrap__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:-90px 0 0 -131px;
}
.grid-wrap .grid-wrap__list .item{
    margin:90px 0 0 131px;
    -webkit-box-flex: auto;
    -ms-flex-positive: auto;
    flex-grow: auto;
    width: calc(100% * (1/4) - 131px);
}

.grid-wrap .grid-wrap__list .item a{
    display: block;
}
.grid-wrap .grid-wrap__list .item .item__img{
    width: 100%;
    padding-bottom:130%;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #5e99ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    transition: all .3s;
}
.grid-wrap .grid-wrap__list .item .item__img::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s;
}
.grid-wrap .grid-wrap__list .item:hover .item__img::after{
    opacity: 1;
    background-color: rgba(255,255,255,.2);
}
.grid-wrap .grid-wrap__list .item dl{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
}
.grid-wrap .grid-wrap__list .item dl dt{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.grid-wrap .grid-wrap__list .item dl dd{
    font-size:12px;
    line-height: 18px;
    color:#9f9f9f;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list{
    margin: -90px 0 0 -125px;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item{
    margin:90px 0 0 125px;
    width: calc(100% * (1/4) - 125px);
    position:relative;
}

.grid-wrap.grid-wrap__photo .grid-wrap__list .item a{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e4e4e4;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__img{
    padding-bottom: 100%;
    border-radius: 0;
    box-shadow: none;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text{
    position:relative;
    padding: 40px 20px 10px;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text h2{
    font-size:20px;
    color: #323334;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 14px;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .label-box{
    margin-bottom: 23px;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .label-box span{
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .label-box__state{
    font-size:16px;
    color: #323334;
    line-height: 16px;
    padding:10px 23px 5px;
    border:1px solid #323334;
    border-radius: 18px;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .label-box__percent{
    font-size:24px;
    color:#9767cc;
    line-height: 38px;
    float:right;
}

.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .text__atc{
    font-size:18px;
    color: #323334;
    font-weight: 600;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .text__pcs{
    font-size:14px;
    color: #323334;
    font-weight: 500;
}
.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .text__content{
    font-size:12px;
    color: #323334;
    margin-top: 10px;
    position:relative;
    line-height: 15px;
    margin-bottom: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 60px; /* max: 2 lines */

}

.grid-wrap.grid-wrap__photo .grid-wrap__list .item .item__text .progress{
    display: block;
    position:absolute;
    left:0;
    bottom:0;
    background-color: #300766;
    height: 10px;
    border-radius: 5px;
}

/* 공모 */
.sub-search{
    margin-top: 72px;
    font-size:0;
}
.sub-search .sub-search__input{
    width: 60%;
    display: inline-block;
    position:relative;
}
.sub-search .sub-search__input input{
    border:0;
    border-bottom:1px solid #222834;
    font-size:13px;
    line-height: 13px;
    padding: 18px 15px 18px 0;
    height: auto;
    font-weight: 600;
}

.sub-search .sub-search__input input::placeholder{
    color: #323334;
}
.sub-search .sub-search__input button{
    font-size:0;
    position:absolute;
    top:0;
    right:0;
    width: 15px;
    height: 100%;
    background-image: url("../images/icon/search_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:15px;
}

.sub-search .sub-search__select{
    width: 40%;
    text-align: right;
    display: inline-block;
    vertical-align: bottom;
}
.sub-search .sub-search__select .select-box{
    display: inline-block;
    margin-left: 50px;
}
.sub-search .sub-search__select .select-box span{
    font-size:13px;
    color: #222834;
    line-height: 44px;
    display: inline-block;
    text-align: right;
    font-weight: 600;
    vertical-align: bottom;
}
.sub-search .sub-search__select .select-box .input-box{
    height: 44px;
    display: inline-block;
    vertical-align: bottom;
    min-width: 86px;
    margin-left: 20px;
}
.sub-search .sub-search__select .select-box:nth-child(2) .input-box{
    min-width: 192px;
}
.sub-search .sub-search__select .select-box .input-box select{
    margin: 0;
    width: 100%;
    line-height: 44px;
    font-weight: 600;
    background-position: right 15px center;
    padding-left: 20px;
}

.list-select{
    padding-top: 60px;
    padding-bottom: 100px;
    font-size:0;
}
.list-select>ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 0 0 -20px;
}
.list-select>ul>li{
    display: inline-block;
    margin:0 0 0 20px;
    -webkit-box-flex: auto;
    -ms-flex-positive: auto;
    flex-grow: auto;
    width: calc(100% * (1/3) - 20px);
    vertical-align: top;
}

.list-select>ul>li p{
    position:relative;
    width: 100%;
    padding: 27px 29px 22px;
    font-size:11px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    cursor: pointer;
}
.list-select>ul>li p::after{
    content:"";
    display: block;
    position:absolute;
    top:0;
    right:0;
    width: 66px;
    height: 66px;
    background-image: url("../images/icon/Dropdown_arrow_black.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:11px 6px;
    transition: all .3s;
}
.list-select>ul>li .list-select__toggle{
border:1px solid #222834
}
.list-select>ul>li .list-select__toggle ul li{
    padding: 0 31px;
    margin-bottom: 18px;
}
.list-select>ul>li .list-select__toggle ul li .checkbox span{
    font-weight: 600;
}
.list-select .list-select__toggle .depth{
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}
.list-select .list-select__toggle.open .depth{
    max-height: 156px;
    overflow: auto;
}
.list-select .list-select__toggle.open p::after{
    transform: rotate(180deg);
}

.grid-wrap__line{
    padding: 106px 120px;
    border-top:1px solid #dcdcdc;
}

/* 공모 상세 */
.container.collusion .content-box{
    border-top:1px solid #dcdcdc;
    margin-top: 80px;
    padding-top: 70px;
}

.collusion-top,
.collusion-bottom{
    width: 1570px;
    margin: 0 auto;
}
.collusion-top .collusion-top__left{
    width: 40%;
    display: inline-block;
}
.collusion-top .collusion-top__left .thum-img{
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 50px;
}
ul.thum-img__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 0 0 -20px;
}
ul.thum-img__list li{
    display: inline-block;
    margin:0 0 0 20px;
    -webkit-box-flex: auto;
    -ms-flex-positive: auto;
    flex-grow: auto;
    width: calc(100% * (1/6) - 20px);
    vertical-align: top;
}
ul.thum-img__list span{
    display: block;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.16);
    position:relative;
    cursor: pointer;
}
ul.thum-img__list li.active span::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border:3px solid #9767cc;
    background-color: rgba(0,0,0,.5);
}

.collusion-top .collusion-top__right{
    width: 46%;
    float:right;
    padding:50px 84px 64px;
}
.content .title-box{
    position:relative;
}
.content .title-box p{
    color: #6a6a77;
}
.content .title-box p.title-box__main{
    font-size:32px;
    line-height: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: -0.025em;
}
.content .title-box p.title-box__sub{
    font-size:20px;
    line-height:normal;
    font-weight: 600;
}

.content .title-box .title-box__image{
    position:absolute;
    top:0;
    right:0;
    width: 87px;
    height: 87px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
}

.content .state-box{
    margin: 70px 0 30px;
    display: table;
    width: 100%;
}
.content .state-box>div{
    display: table-cell;
}
.content .state-box .state-box__image{
    width: 87px;
    height: 87px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
    text-align: left;
}
.content .state-box .state-box__text{
    text-align: right;
    vertical-align: middle;
}
.content .state-box .state-box__text p{
    font-family: 'Poppins', sans-serif;
    font-size:25px;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: -0.05em;
}
.content .state-box .state-box__text p:last-child{
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}
.content .state-box .state-box__text p span{
    font-size:24px;
    display: inline-block;
    color:#9767cc;
    font-weight: 600;
    padding-right: 50px;
}
.collusion-top .collusion-top__right .content-text{
    padding:50px 0 40px;
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}
.collusion-top .collusion-top__right .content-text p{
    font-size:14px;
    color: #222834;
    line-height: 17px;
    letter-spacing: -0.025em;
}
ul.tag-list{
    padding-top: 39px;
}
ul.tag-list li{
    font-size:16px;
    line-height: 24px;
    color: #323334;
    font-weight: 600;
}
.collusion-top .collusion-top__right .date-text{
    font-size:20px;
    line-height: 30px;
    color: #222834;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.025em;
    padding-top: 59px;
    font-weight: 600;
}

.collusion-bottom{
    padding-top: 100px;
}

.collusion-bottom>div.fl{
    width: 40%;
    float:left;
}
.collusion-bottom>div.fl .shadow-box{
    padding: 40px 30px;
}

.collusion-bottom>div.fr{
    width: 52%;
    float:right;
    min-height: 750px;
}
.collusion-bottom>div h2{
    font-size:21px;
    line-height: 21px;
}
.collusion-bottom>div .shadow-box{
    margin-top: 40px;
    margin-bottom: 60px;
}

/* 작품 공모 현황 */
.collusion-bottom .collusion-bottom__state .state__percent{
    font-family: 'Poppins', sans-serif;
    color: #4d4c58;
    font-size:47px;
    line-height: 65px;
}
.collusion-bottom .collusion-bottom__state .progress-bar{
    position:relative;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    border:1px solid #323334;
}
.collusion-bottom .collusion-bottom__state .progress-bar span{
    position: absolute;
    display: inline-block;
    height: 100%;
    left:0;
    top:0;
    border-radius: 5px;
    background-color: #300766;
}
.collusion-bottom .collusion-bottom__state p.state__people{
    margin-top: 30px;
    font-size:24px;
    line-height: 29px;
    color: #414151;
}
.collusion-bottom .collusion-bottom__state p.state__date{
    margin-top: 10px;
    font-size:15px;
    line-height: 19px;
    color: rgba(110, 113, 121, 0.6);
}

/* 공모매수 */
.collusion-bottom__buying{
    padding: 80px 85px;
}
.collusion-bottom__buying table{
    width: 100%;
    border-collapse: collapse;
}
.collusion-bottom__buying table th{
    width: 231px;
    text-align: left;
    font-size:14px;
    color: #222834;
}
.collusion-bottom__buying table td{
    text-align: right;
    padding: 16px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.collusion-bottom__buying table td .table-div{
    display: table;
    width: 100%;
}
.collusion-bottom__buying table td .table-div>div{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.collusion-bottom__buying table td .table-div .table-div__th{
    padding-right: 10px;
}
.collusion-bottom__buying table td .table-div .table-div__td{
    padding-left: 10px;
}

.collusion-bottom__buying table td .input-box{
    height: 49px;
}
.collusion-bottom__buying table td .input-box.input-box__total::after{
    content:"ATC";
    display: inline-block;
    position:absolute;
    font-family: 'Poppins', sans-serif;
    top:0;
    right:20px;
    line-height: 47px;
    font-size:13px;
    font-weight: 500;
}
.collusion-bottom__buying table td .input-box.input-box__total input{
    padding-right: 40px;
}
.collusion-bottom__buying table td .input-box input{
    line-height: 47px;
    text-align: right;
    font-size:13px;
    font-family: 'Poppins', sans-serif;
    color: #323334;
    font-weight: 500;
    padding: 0;
}


/* 공모 시 주의점 */
.collusion-bottom .collusion-bottom__caution p{
    font-size:14px;
    color: #222834;
    line-height: 24px;
}
.collusion-bottom .collusion-bottom__caution p:nth-child(2){
    padding: 15px 0;
}
.collusion-bottom .collusion-bottom__caution p span{
    display: inline-block;
    padding-right: 10px;
}


/* 총 보유자산 (ATC) */
.collusion-bottom>div .collusion-bottom__atc{
    width: 65%;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area p{
    letter-spacing: -0.05em;
    font-weight: 600;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area p.date span{
    display: inline-block;
    font-size:16px;
    color: #242134;
    line-height: 19px;
    padding-right: 30px;
    position:relative;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area p.date span::after{
    content:"";
    display: block;
    position:absolute;
    top:5px;
    right:0;
    width: 0;
    height: 0;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area p.atc{
    font-size:30px;
    line-height:43px;
    text-align: right;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area.up p.date span::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #9767cc;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area.up p.atc{
    color: #9767cc;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area.down p.date span::after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #ff5e5e;
}
.collusion-bottom>div .collusion-bottom__atc .atc__area.down p.atc{
    color: #ff5e5e;
}

/* 거래소 */
.content__exchange{
    max-width: 1570px;
    margin: 80px auto 150px;
}
.content__exchange .fl{
    float:left;
    width: 954px;
}
.content__exchange .fr{
    float:right;
    width: 510px;
}


.content__exchange h3{
    font-size:21px;
    line-height: 21px;
    color: #000;
    padding-bottom: 21px;
}

/* 거래소 - 작품정보 */

.content__exchange .exchange__info{
    padding: 50px 106px 37px 86px;
}
.content__exchange .exchange__info .table-div{
    display: table;
    width: 100%;
}
.content__exchange .exchange__info .table-div>div{
    display: table-cell;
}
.content__exchange .exchange__info .img-box{
    margin-top: 30px;
    width: 338px;
    height: 338px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: inline-block;
}
.content__exchange .exchange__info .text-box{
    position:relative;
    text-align: right;
    font-size:0;
    width: calc(100% - 338px);
    padding-left: 20px;
}
.content__exchange .exchange__info .text-box .text-box__percent{
    display: block;
    font-size:24px;
    line-height:33px;
    font-weight: 600;
    color: #ff5e5e;
}
.content__exchange .exchange__info .text-box dl dt{
    padding-top: 10px;
    font-size:32px;
    line-height: 48px;
    color:#6a6a77;
}
.content__exchange .exchange__info .text-box dl dd{
    font-size:20px;
    line-height: 24px;
    color: #6a6a77;
}
.content__exchange .exchange__info .text-box .text-box__atc{
    font-size:16px;
    color: #323334;
    line-height: 23px;
    padding-top: 43px;
    font-weight: 600;
}
.content__exchange .exchange__info .text-box .text-box__pcs{
    font-size:16px;
    line-height: 19px;
    color:#323334;
}
.content__exchange .exchange__info .text-box .thum-img{
    position:absolute;
    bottom:0;
    right:0;
    width: 100%;
}

.content__exchange .exchange__info .text-box .thum-img ul.thum-img__list{
    margin:-10px 0 0 -12px;
    justify-content: flex-end
}
.content__exchange .exchange__info .text-box .thum-img ul.thum-img__list li{
    margin:10px 0 0 12px;
    width: calc(100% * (1/5) - 12px);
    max-width:62px;
}

.content__exchange .list-select{
    padding: 60px 0 0;
}
.content__exchange .list-select>ul{
    margin: 0;
}

.content__exchange .list-select>ul>li{
    margin: 0 0 27px 0;
    width: 100%;
    display: block;
}
.content__exchange .sub-search{
    margin-top: 0;
}
.content__exchange .sub-search .sub-search__input{
    width: 100%;
}

.content__exchange .sub-search .sub-search__select{
    width: 100%;
}
.content__exchange .sub-search .sub-search__select .select-box:first-child{
    margin-left: 0;
}


/* 거래소 - 작품개요 */
.content__exchange .exchange-summary__box{
    padding: 50px 86px;
    margin-bottom: 86px;
}

.content__exchange .exchange-summary__box .title-box{
    min-height: 87px;
}

.content__exchange .exchange-summary__box .text-box{
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.content__exchange .exchange-summary{
    padding-right: 20px;
}
.content__exchange .exchange-summary__box .text-box p{
    font-size:14px;
    line-height: 17px;
    color: #222834;
}

.content__exchange .shadow-box.exchange-quote__box{
    margin-bottom: 95px;
}

.content__exchange-bottom{
    position:relative;
    padding-right: 618px;
}

.total-work h3{
   padding-top: 80px;
}

.total-work__list ul li{
    margin-bottom: 20px;
    position: relative;
}
.total-work__list ul li .total-work__list-box{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e4e4e4;
    box-sizing: border-box;
    overflow: hidden;
}


.total-work__list ul li .total-work__list-box .txt-box{
    padding-left: 106px;
    height: 106px;
    position:relative;
}
.total-work__list ul li .total-work__list-box .txt-box .txt-box__image{
    display: block;
    width: 106px;
    height: 106px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
}

.total-work__list ul li .total-work__list-box .txt-box .inner-wrap{
    display: table;
    width: 100%;
    height: 100%;
}

.total-work__list ul li .total-work__list-box .txt-box .inner-box{
    display: table-cell;
    width:0;
    max-width: 0;
    vertical-align: middle;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__vertical{
    display: inline-block;
    vertical-align: middle;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box span{
    display: block;
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box:first-child{
    text-align: left;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box:last-child{
    text-align: right;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__title{
    font-size:16px;
    line-height: 25px;
    color: #222834;
    font-weight: 500;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__ratio{
    font-weight: 600;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__atc{
    font-weight: 600;
}
.total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__pcs{
    font-size:14px;
}

.total-work__list ul li .total-work__list-box::after{
    content:"";
    display: block;
    width: calc(100% - 4px);
    height:calc(100% - 4px);
    position:absolute;
    top:0;
    left:0;
    border:2px solid #9767cc;
    opacity: 0;
    transition: all .2s;
}

.total-work__list ul li:hover .total-work__list-box::after{
    opacity: 1;
}
.total-work__list ul li:hover .txt-box .inner-box .inner-box__title,
.total-work__list ul li:hover .txt-box .inner-box .inner-box__atc,
.total-work__list ul li:hover .txt-box .inner-box .inner-box__pcs{
    color: #9767cc;
}

.exchange-intervention .collusion-bottom__buying{
    padding: 0 0 122px 0;
}
.exchange-intervention .collusion-bottom__buying table th {
    width: 357px;
    padding-left: 85px;
}
.exchange-intervention .collusion-bottom__buying table td{
    padding-right: 85px;
}

.exchange-intervention .collusion-bottom__buying table.table th{
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 18px 0;
}
.exchange-intervention .collusion-bottom__buying table.table td{
    text-align: center;
    padding: 20px 10px;
}

.exchange-intervention .btn-area{
    padding-right: 85px;
}

.intervention-header{
    font-size:0;
    margin-bottom: 40px;
}
ul.tab__list{
    display: table;
    width: 100%;
}
ul.tab__list li{
    display: table-cell;
    max-width: 0;
    text-align: center;
    padding: 22px 0;
    cursor: pointer;
}
ul.tab__list li span,
ul.tab__list li a{
    font-size:16px;
    font-weight: 600;
    color: #222834;
    display: inline-block;
    position:relative;
}
ul.tab__list li a.active,
ul.tab__list li span.active{
    color: #9767cc;
    padding-right:17px;
}
ul.tab__list li a.active::after,
ul.tab__list li span.active::after{
    content:"";
    position:absolute;
    width: 8px;
    height: 8px;
    top:50%;
    right:0;
    margin-top: -4px;
    background-color:#9767cc ;
    border-radius: 50%;
}


/* 인증센터 */
.content__certification{
    width: 1570px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e4e4e4;
    margin: 40px auto 133px;
    padding-bottom: 133px;
}

.content__certification .content__certification-header{
    font-size:0;
    text-align: center;
    padding: 38px 0 20px;
}

.content__certification .content__certification-header ul.tab__list{
    display: inline-block;
}

.content__certification .content__certification-header ul.tab__list li{
    display: inline-block;
    max-width: max-content;
    padding: 0 90px;
}

.content__certification hr{
    width: 100%;
    height: 60px;
    display: block;
    background-color: #222834;
}

.content__certification .content__certification-content>dl{
    padding: 60px 106px 94px;
    font-weight: 500;
}
.content__certification .content__certification-content>dl>dt{
    font-size:20px;
    line-height: 24px;
}
.content__certification .content__certification-content>dl>dd{
    font-size:16px;
    line-height: 19px;
    color: #242134;
    padding-top: 13px;
}

.certification-step{
    text-align: center;
    font-size:0;
}
.certification-step ul{
    display: inline-block;
}
.certification-step ul li{
    display: inline-block;
    padding: 0 63px;
}
.certification-step ul li .step-box{
    border:1px solid #222834;
    position:relative;
    width: 298px;
    height: 398px;
    border-radius: 10px;
}
.certification-step ul li .step-box .step-box__text{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    left:0;
    text-align: center;
}

.certification-step ul li .step-box .step-box__text strong{
    display: block;
    font-size:24px;
    line-height: 24px;
    letter-spacing: -0.48px;
    margin-bottom: 30px;
}
.certification-step ul li .step-box .step-box__text dl dt{
    font-size:20px;
    line-height: 24px;
    color:#222834;
    font-weight: 500;
    margin-bottom: 10px;
}
.certification-step ul li .step-box .step-box__text dl dd{
    font-size:16px;
    line-height: 19px;
    color:#222834;
}
.certification-step ul li .step-box .step-box__text .btn{
    font-size:20px;
}

.certification-step ul li.complete .step-box .step-box__text .btn{
    color:#5e99ff;
    font-weight: 600;
    cursor: not-allowed;
}
.certification-step ul li.active .step-box{
    background-color: #9767cc;
    border:1px solid #300766;
}
.certification-step ul li.active .step-box .step-box__text strong{
    color: #fff;
}
.certification-step ul li.active .step-box .step-box__text dl dt,
.certification-step ul li.active .step-box .step-box__text dl dd{
    color:#fff;
}

.certification-step ul li.active .step-box .step-box__text .btn{

}


/*---------------------- 1600 ------------------------*/
@media (max-width: 1600px) {
    .grid-wrap__line{
        padding:60px 0;
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list{
        margin: -90px 0 0 -60px;
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list .item{
        margin:90px 0 0 60px;
        width: calc(100% * (1/4) - 60px);
    }
    .sub-search .sub-search__input{
        width: 50%;
    }
    .sub-search .sub-search__select{
        width: 50%;
    }


    .container.container-lg {
        padding: 0 20px;
    }
    .content .content__lg {
        width: 100%;
    }
    .profile-box{
        padding:88px 50px 66px ;
    }
    .profile-box .info-box .info-box__form ul{
        width: 50%;
        margin-right: 0;
        max-width: 50%;
    }
    .grid-wrap .grid-wrap__list{
        margin:-90px 0 0 -60px;
    }
    .grid-wrap .grid-wrap__list .item{
        margin:90px 0 0 60px;
        width: calc(100% * (1/4) - 60px);
    }

    .collusion-top, .collusion-bottom{
        width: 100%;
        padding: 50px 30px;
    }
    .collusion-bottom__buying table th{
        width: 30%;
        min-width: 130px;
    }
    .collusion-bottom__buying{
        padding: 50px 30px;
    }
    .collusion-bottom>div.fr{
        width: 57%;
    }

    .content__exchange{
        padding: 0 20px;
    }
    .content__exchange .fl{
        width: 60%;
    }
    .content__exchange .fr{
        width: 35%
    }
    .content__exchange .exchange__info{
        padding:50px 40px;
    }
    .content__exchange .exchange-summary__box{
        padding: 50px 40px;
    }
    .content__exchange .exchange__info .img-box{
        width: 45%;
        height: 0;
        padding-top: 45%;
    }
    .sub-search .sub-search__select .select-box{
        padding-bottom: 10px;
    }

    .content__certification{
        width: calc(100% - 40px);
    }
}


/* 1024 */
@media (max-width: 1024px) {
    .container.container-lg {
        padding: 0 32px;
    }
    .profile-box{
        margin-top: 60px;
        padding:50px 30px 66px
    }
    .profile-box .info-box .info-box__form ul{
        width: 100%;
        max-width: 100%;
    }

    .grid-wrap .grid-wrap__list{
        margin:-90px 0 0 -60px;
    }
    .grid-wrap .grid-wrap__list .item{
        margin:90px 0 0 60px;
        width: calc(100% * (1/3) - 60px);
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list{
        margin: -90px 0 0 -60px;
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list .item{
        margin:90px 0 0 60px;
        width: calc(100% * (1/3) - 60px);
    }

    .profile-box .info-box .info-box__form ul li>span{
        font-size:12px;
        width: 85px;
        line-height: 49px;
    }
    .profile-box .info-box .info-box__form ul li .input-box{
        max-width: calc(100% - 85px);
        width: calc(100% - 85px);
        height: 49px;
    }
    .profile-box .info-box .info-box__form ul li .input-box input{
        padding: 0;
        font-size:12px;
        line-height: 49px;
    }
    .profile-box>.btn-area{
        margin-top: 30px;
    }

    /* 공모 */
    .sub-search{
        margin-top: 40px;
    }
    .sub-search .sub-search__input{
        width:100%;
        margin-bottom: 20px;
    }
    .sub-search .sub-search__select{
        width:100%;
        text-align: left;
    }
    .sub-search .sub-search__select .select-box{
        margin-left: 0;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .container .sub-title{
        padding: 0;
    }
    .container.collusion .content-box{
        margin-top: 0;
        padding-top: 60px;
        border: 0;
    }
    .collusion-top, .collusion-bottom{
        padding: 0;
    }
    .collusion-top .collusion-top__left{
        width: 100%;
        display: block;
    }
    .collusion-top .collusion-top__left .thum-img{
        margin-bottom: 40px;
    }
    ul.thum-img__list{
        margin:0 0 0 -10px;
    }
    ul.thum-img__list li{
        margin:0 0 0 10px;
        width: calc(100% * (1/6) - 10px);
    }

    .collusion-top .collusion-top__right{
        width: 100%;
        display: block;
        margin-top: 60px;
        padding: 30px;
    }
    .content .title-box p.title-box__main{
        font-size:22px;
        line-height: 31px;
    }
    .content .title-box p.title-box__sub{
        font-size:14px;
        line-height: 17px;
    }

    .content .state-box{
        margin: 20px 0 0;
    }
    .content .state-box>div{
        display: block;
    }
    .content .state-box .state-box__image{
        margin: 0 auto;
    }
    .content .state-box .state-box__text{
       text-align: left;
    }

    .collusion-top .collusion-top__right .content-text{
        border-top:0;
        padding: 20px 0 40px;
    }
    .collusion-top .collusion-top__right .content-text p{
        font-size:12px;
    }
    .content .state-box .state-box__text{
        padding-top: 50px;
    }
    .content .state-box .state-box__text p{
        position:relative;
        font-size:16px;
        line-height: 23px;
    }
    .content .state-box .state-box__text p:last-child{
        font-size:13px;
    }

    .content .state-box .state-box__text p span{
        position:absolute;
        top:0;
        right:0;
        padding: 0;
        font-size:16px;
        line-height: 23px;
    }

    ul.tag-list{
        padding-top: 24px;
    }
    ul.tag-list li{
        font-size:12px;
        line-height: 23px;
    }
    .collusion-top .collusion-top__right .date-text{
        padding-top: 40px;
        font-size:14px;
        line-height: 21px;
    }

    .collusion-bottom{
        display: flex;
        flex-direction:column;
    }

    .collusion-bottom>div:nth-child(1){
        order:1
    }
    .collusion-bottom>div:nth-child(2){
        order:4
    }
    .collusion-bottom>div:nth-child(3){
        order:2
    }
    .collusion-bottom>div:nth-child(4){
        order:3
    }

    .collusion-bottom>div.fl{
        width: 100%;
        float:none;
    }
    .collusion-bottom>div.fr{
        width: 100%;
        float:none;
    }
    .collusion-bottom>div h2{
        font-size:18px;
        line-height: 21px;
        padding: 60px 0 20px;
    }
    .collusion-bottom>div .shadow-box{
        margin: 0;
    }

    .collusion-bottom .collusion-bottom__state .state__percent{
        font-size:26px;
        line-height: 36px;
    }
    .collusion-bottom .collusion-bottom__state .progress-bar{
        margin-top: 20px;
    }
    .collusion-bottom .collusion-bottom__state p.state__people{
        font-size:14px;
        line-height: 17px;
        margin-top: 20px;
    }
    .collusion-bottom .collusion-bottom__state p.state__date{
        font-size:10px;
        line-height: 14px;
        margin-top: 5px;
    }
    .collusion-bottom>div .collusion-bottom__atc{
        width: 100%;
    }

    .collusion-bottom>div .collusion-bottom__atc .atc__area{
        width: 100%;
        display: table;
    }
    .collusion-bottom>div .collusion-bottom__atc .atc__area p{
        display: table-cell;
        width: 50%;
        line-height: 43px;
        vertical-align: middle;
    }

    .collusion-bottom>div .collusion-bottom__atc .atc__area p.atc{
        font-size:30px;
        text-align: right;
    }

    .collusion-bottom__buying table th{
        min-width: 70px;
    }
    .collusion-bottom__buying table td .table-div .table-div__th{
        padding-right: 0;
    }

    .collusion-bottom__buying table td .table-div .table-div__td{
        display: none;
    }


    .content__exchange{
        display: flex;
        flex-direction:column;
    }
    .content__exchange .fl{
        width: 100%;
        float:none;
    }
    .content__exchange .fr{
        width: 100%;
        float:none;
    }

    .content__exchange>div:nth-child(2){
        order:1
    }
    .content__exchange>div:nth-child(1){
        order:2
    }
    .content__exchange .exchange-summary{
        order:3
    }
    .content__exchange .exchange-quote{
        order:4
    }
    .content__exchange .exchange-intervention{
        order:5
    }
    .content__exchange .total-work{
        order:6
    }
    .content__exchange{
        padding: 0;
        margin-top: 40px;
    }

    .content__exchange-search{
        position:relative;
    }
    .content__exchange-search .sub-search.sub-search__form{
        position:absolute;
        width: 100%;
        top:76px;
        left: 0;
    }
    .content__exchange .list-select{
        padding-top: 140px;
    }

    /* 거래소 - 작품정보 */
    .exchange-summary h3,
    .info-exchange h3{
        display: none;
    }
    .content__exchange .exchange__info{
        padding: 0;
        box-shadow: none;
        border:0;
    }
    .content__exchange .exchange__info .table-div>div{
        display: block;
        width: 100%;
    }
    .content__exchange .exchange__info .img-box{
        padding-top: 100%;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.16);
    }
    .content__exchange .exchange__info .text-box{
        padding: 0;
        text-align: left;
        margin-top: 30px;
    }
    .content__exchange .exchange__info .text-box .thum-img{
        position:relative;
    }
    .content__exchange .exchange__info .text-box .thum-img ul.thum-img__list{
        justify-content: flex-start;
    }

    .content__exchange .exchange-summary{
        padding: 0;
    }
    .content__exchange .exchange-summary__box{
        margin-top: 60px;
        padding: 30px 28px;
    }
    .content .title-box .title-box__image{
        position:relative;
        top:auto;
        left:auto;
        margin: 20px auto 0;
    }
    .content__exchange .exchange-summary__box .btn-area{
        display: none;
    }
    .content__exchange .exchange-summary__box .text-box p{
        font-size:12px;
        line-height: 15px;
    }
    .content__exchange .shadow-box.exchange-quote__box{
        overflow-x: auto;
    }
    .content__exchange .shadow-box.exchange-quote__box .table th{
        min-width: 120px;
    }

    ul.tab__list{
        width: 100%;
        padding-top: 20px;
    }
    ul.tab__list li{
        display: inline-block;
        width: 50%;
        max-width: 50%;
        padding: 10px 0;
    }

    .exchange-intervention .collusion-bottom__buying table th{
        padding-left: 19px;
        width: 120px;
        min-width: 70px;
        font-size:13px;
    }
    .exchange-intervention .collusion-bottom__buying{
        padding-bottom: 30px;
    }
    .exchange-intervention .collusion-bottom__buying table td{
        padding-right: 19px;
        font-size:13px;
    }
    .exchange-intervention .collusion-bottom__buying .tab-content{
        overflow-x: auto;
    }

    .exchange-intervention .collusion-bottom__buying table.table th{
        min-width: 120px;
    }
    .exchange-intervention .btn-area{
        padding-right: 0;
    }
    .btn-area.align-right{
        text-align: center;
    }

    .total-work__list ul li .total-work__list-box .txt-box .txt-box__image{
        width: 80px;
        height: 80px;
    }
    .total-work__list ul li .total-work__list-box .txt-box {
        padding-left: 80px;
        height: 80px;
    }
    .total-work__list ul li .total-work__list-box .txt-box .inner-box:first-child{
        width: 55%;
    }
    .total-work__list ul li .total-work__list-box .txt-box .inner-box span{
        font-size:14px;
        padding: 0 10px;
    }
    .total-work__list ul li .total-work__list-box .txt-box .inner-box .inner-box__title{
        font-size:14px;
        letter-spacing: -0.025em;
        padding-right: 0;
    }

    .content__certification{
        width: 100%;
        padding-bottom: 60px;
    }
    .content__certification hr{
        height: 20px;
    }
    .content__certification .content__certification-header ul.tab__list{
        display: table;
        padding: 0;
    }
    .content__certification .content__certification-header ul.tab__list li{
        display: table-cell;
        width: auto;
        padding: 0;
    }
    ul.tab__list li span,
    ul.tab__list li a{
        font-size:14px;
    }
    .content__certification-content{
        padding: 0 32px;
    }
    .content__certification .content__certification-content>dl{
        padding: 39px 0 0;
    }
    .content__certification .content__certification-content>dl>dt{
        font-size:14px;
        letter-spacing: -0.025em;
    }
    .content__certification .content__certification-content>dl>dd{
        font-size:13px;
        letter-spacing: -0.025em;
    }
    .certification-step{
        padding-top: 39px;
    }
    .certification-step ul{
        display: block;
    }
    .certification-step ul li{
        padding: 0;
        display: block;
        margin-bottom: 20px;
    }
    .certification-step ul li .step-box{
        width: 100%;
        height: auto;
        padding: 24px 0;
    }
    .certification-step ul li .step-box .step-box__text{
        position:relative;;
        top:auto;
        transform: none;

    }
    .certification-step ul li .step-box .step-box__text strong{
        font-size:13px;
        margin-bottom: 10px;
    }
    .certification-step ul li .step-box .step-box__text dl dt{
        font-size:14px;
        line-height: 19px;
    }
    .certification-step ul li .step-box .step-box__text dl dd{
        font-size:16px;
    }
    .certification-step ul li .step-box .step-box__text .btn{
        font-size:14px;
        height: auto;
        margin-top: 30px;
    }

    /* 모바일 인증 */
    .mobile-certification{
        padding-bottom: 60px;
    }
    .mobile-certification h2{
        font-size:24px;
        line-height: 24px;
        color: #9767cc;
    }
    .border-box{
        border-radius: 10px;
        border:1px solid #222834;
        margin-top: 30px;
        padding: 59px 0 65px;
        text-align: center;
        font-size:0;
        position:relative;
    }
    .border-box h3{
        color:#222834;
        font-size:16px;
        line-height: 19px;
    }
    input.border-box__password{
        width: 70%;
        margin: 20px auto 0;
        border:1px solid #000;
        border-radius: 4px;
    }
    .border-box .btn-area{
        width: 70%;
        margin-top: 40px;
    }
    .border-box .btn-area ul li{
        width: 100%;
    }
    .border-box.active{
        border:1px solid #651099;
    }
    .border-box.disabled{
        opacity: 0.35;
    }
    .border-box.disabled::after{
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position:absolute;
        top:0;
        left:0;
        z-index: 10;
    }
    .border-box.disabled .btn-area ul li .btn.btn-purple{
        background-color: #222834;
    }
    .border-box .border-box__code{
        padding-top: 30px;
    }
    .border-box .border-box__code input{
        width: 32px;
        height: 36px;
        border:1px solid #222834;
        border-radius: 4px;
        margin: 0 4px;
        text-align: center;
        transition: all .4s;
        font-size: 30px;
        line-height: 30px;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .border-box .border-box__code input:focus {
        border-color: #651099;
        box-shadow: 0 0 3px #651099 inset;
    }

    .btn__more{
        position:absolute;
        top:9px;
        right:-5px;
        width: 30px;
        height: 30px;
    }
    .btn__more .btn{
        display: block;
        width: 100%;
        height: 100%;
        position:relative;
        font-size:0;
    }
    .btn__more .btn::before,
    .btn__more .btn:after{
        content:"";
        display: block;
        position:absolute;
        top:50%;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        border-radius: 2px;
        background-color:#323334 ;
    }
    .btn__more .btn::before{
        left:5px;
    }
    .btn__more .btn::after{
        right:5px;
    }
    .btn__more .btn span{
        display: block;
        position:absolute;
        top:50%;
        left:50%;
        width: 4px;
        height: 4px;
        margin-left: -2px;
        margin-top: -2px;
        border-radius: 2px;
        background-color:#323334 ;
    }
}

@media (max-width: 768px){
    .grid-wrap{
        padding-bottom: 30px;
    }
    .grid-wrap .grid-wrap__list{
        margin: 0;
        display: block;
    }
    .grid-wrap .grid-wrap__list .item {
        margin: 0 0 86px 0;
        width: 100%;
    }
    .grid-wrap__line{
        padding-top: 0;
        border:0;
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list{
        margin: 0;
        display: block;
    }
    .grid-wrap.grid-wrap__photo .grid-wrap__list .item {
        margin: 0 0 86px 0;
        width: 100%;
    }
    .list-select{
        padding: 20px 0 40px;
    }
    .list-select>ul{
        margin: 0;
        display: block;
    }
    .list-select>ul>li{
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

}


@media (max-width: 360px){
    .sub-search .sub-search__select .select-box:nth-child(2) .input-box{
        min-width: 172px;
    }
}


