<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="Keywords" content="">
        <meta name="Description" content="">
        <title>ARTSTOCK</title>
        <link rel="stylesheet" type="text/css" href="../../css/general.css"/>
    </head>
    <body>
        <div class="wrap">
            <!-- footer -->
            <footer>
                <div class="footer-ico">
                    <ul>
                        <li>
                            <a href="#" class="footer-ico__blog">블로그</a>
                        </li>
                        <li>
                            <a href="#" class="footer-ico__facebook">페이스북</a>
                        </li>
                        <li>
                            <a href="#" class="footer-ico__instagram">인스타그램</a>
                        </li>
                        <li>
                            <a href="#" class="footer-ico__youtube">유튜브</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-inner">
                    <ul>
                        <li><h2>고객센터</h2></li>
                        <li><a href="#">문의하기</a></li>
                        <li><a href="#">법적공지</a></li>
                        <li><a href="#">구매 일반 약관</a></li>
                        <li><a href="#">고객후기</a></li>
                    </ul>
                    <ul>
                        <li><h2>회사 소개</h2></li>
                        <li><a href="#">Artstock 소개</a></li>
                        <li><a href="#">제휴작가</a></li>
                        <li><a href="#">블로그</a></li>
                        <li><a href="#">조직도</a></li>
                        <li><a href="#">작가 선별기준</a></li>
                        <li><a href="#">자주 묻는 질문</a></li>
                    </ul>
                    <ul>
                        <li><h2>신청</h2></li>
                        <li><a href="#">제휴 / 작가 등록 신청</a></li>
                    </ul>
                </div>
                <p class="copyright">Built by Neotrilabs - © 2019. ALL RIGHTS RESERVED.</p>
            </footer>
            <!--// footer -->
        </div>
    </body>
</html>

