<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="Keywords" content="">
        <meta name="Description" content="">
        <title>ARTSTOCK</title>
        <link rel="stylesheet" type="text/css" href="../../css/general.css"/>
    </head>
    <body>
        <div class="wrap">
            <!-- header -->
            <header class="header">
                <div class="header-top">
                    <h1 class="logo"><a href="#"><img src="../../images/common/logo.png" alt=""></a></h1>
                    <!-- 비로그인 -->
                    <!--<ul>-->
                        <!--<li class="button__login"><a href="../member/login.html" class="btn">LOGIN</a></li>-->
                    <!--</ul>-->
                    <!--// 비로그인 -->
                    <!-- 로그인후 -->
                    <ul>
                        <li class="button__atc"><a href="#" class="btn">ATC 충전</a></li>
                        <li class="button__my"><a href="#" class="btn">마이페이지</a></li>
                        <li class="button__logout"><a href="#" class="btn">LOGOUT</a></a></li>
                    </ul>
                    <!--// 로그인후 -->
                    <div class="drop-box">
                        <div class="drop__content">
                            <button type="button" class="btn-drop btn__drop"><span>거래소</span></button>
                            <button type="button" class="menu-trigger btn__drop">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <div class="drop__content-inner">
                                <ul>
                                    <li><p class="not__arrow"><span>거래소</span></p></li>
                                    <li><p><span>공모</span></p></li>
                                    <li>
                                        <p><span>마이갤러리</span></p>
                                        <ul class="depth">
                                            <li><a href="#">자산현황</a></li>
                                            <li><a href="#">프로필</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p><span>자산현황</span></p>
                                        <ul class="depth">
                                            <li><a href="#">test</a></li>
                                            <li><a href="#">test</a></li>
                                        </ul>
                                    </li>
                                    <li><p><span>이용가이드</span></p></li>
                                    <li><p><span>ATC</span></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-search">
                    <ul>
                        <li><a href="#">Artworks</a></li>
                        <li><a href="#">Artist</a></li>
                    </ul>
                    <div class="search-box">
                        <div class="search-inner">
                            <input type="text" placeholder="작품 및 작가를 입력 하세요.">
                            <button type="submit">검색</button>
                        </div>
                    </div>
                </div>
            </header>
            <!--// header -->

        </div>
    </body>
</html>